/* Page Wide Base Styles
================================ */
@font-face {
  font-family: 'Gotham Rounded';
  src: url('fonts/gotham-rounded-medium.otf');
}
body {
  background-color: #edeff0;
  font-family: 'Gotham Rounded', sans-serif;
}
.container {
  width: 95%;
  margin: 0 auto;
}
/* Clearfix
================================ */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Header
================================ */
header {
  -webkit-box-shadow: 0px 10px 5px -8px rgba(211,211,211,1);
  -moz-box-shadow: 0px 10px 5px -8px rgba(211,211,211,1);
  box-shadow: 0px 10px 5px -8px rgba(211,211,211,1);
}
.page-title {
  float: left;
}
.navbar {
  float: right;
  position: relative;
}
nav ul {
  list-style: none;
}
nav ul li {
  vertical-align: middle;
  float: left;
  padding: 0 20px;
}
nav ul li:first-child,
nav ul li:nth-child(2) {
  border-right: 1px solid #d4d9dd;
}
nav ul li a {
  text-decoration: none;
  color: #b6bfc6;
}
#nav-text {
  position: relative;
  margin-right: 10px;
  bottom: 4.5px;
}

/* Main Content
================================ */
