// Descriptive color variables


// Font stack

$stack-sans-serif : Helvetica, Arial, sans-serif;
$default-stack    : 'Gotham Rounded', $stack-sans-serif;
$light-stack      : 'Gotham Rounded Light', $stack-sans-serif;

// Asset paths

$path-img  : '../img';
$path-font : '../fonts';
